/* Hide all answers by default */
.answer {
  display: none; /* hide initially */
  padding: 10px;
  margin-top: 10px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.answer.show {
  display: block; /* show when toggled */
}

/* FAQ container */
.faq {
  border: 2px solid rgb(205, 194, 194);
  padding: 20px;
  border-radius: 20px;
  gap: 4px;
}

/* Each FAQ item */
.faq-item {
  border: 2px solid rgb(228, 205, 205);
  padding: 20px;
  border-radius: 20px;
  gap: 4px;
}

/* Question style */
.question {
  padding: 10px;
  cursor: pointer; /* show pointer on hover */
}
